body{
    font-family: "Myriad Pro", sans-serif !important;
    background-color: #282a2e;
}
.container-fluid{
    background-color: #282a2e;
    padding: 0px;
}

.navbar{
    background-color: #282a2e !important;
}
.navbar ul li .nav-link{
    color: #fff !important;
}.navbar ul li:nth-child(3) .nav-link{
    color: #97c248 !important;
}
.navbar ul li .nav-link:hover{
    color: #97c248 !important;
}
.navbar-nav .nav-link {
    padding-right: 2rem !important;
}


/* Start of Navbar hamburger animation*/
.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler:focus {
    outline: none;
    background: transparent !important;
}

.navbar-toggler .icon-bar {
    background-color: #fff;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
}

.icon-bar:nth-child(2) {
    width: 16px;
    transition: ease all .2s;
}

.navbar-toggler:hover>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
}

.navbar-toggler:active>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: ease all .2s;
}
/*End of Navbar hamburger animation*/

/*Carousel Caption*/
.carousel-caption{
    top: 40%;
    left: -15%;
}
.carousel-caption p{
    font-size: 35px;
}

input {
    outline: none;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}


input[type=search] {
    background: #282a2e url('../img/icon.png') no-repeat 9px center;
    padding: 9px 10px 9px 32px;
    width: 55px;
    color: #fff;


    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 130px;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
    color: #fff;
}
input::-webkit-input-placeholder {
    color: #fff;
}

/* Demo 2 */
#demo-2 input[type=search] {
    content: '\f002';
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}

#demo-2 input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #fff;
    cursor: auto;
}
#demo input:-moz-placeholder {
    color: transparent;
}
#demo input::-webkit-input-placeholder {
    color: transparent;
}
/*Demo*/

/*Start Feature1*/
.feature1{
    color: #fff;
}
.feature1 .title{
    font-size: 36px;
}
.feature1 h3{
    padding-top: 15px;
}
/*End of Feature1*/

/*Start Feature2*/
.feature2{
    background-color: #4b3f34;
    height: 430px;
}
.feature2 p{
    color: #fff;
    font-size: 60px;
    letter-spacing: 4px;
}
.feature2 .col-lg-12{
    top: 90%;
}
.feature2 .btn:nth-child(1){
    margin-right: 10px;
    background-color: #b0cd3b;
    border-bottom: 4px solid #798f21;
    padding: 15px 40px 15px 40px;
    color: #fff;
}
.feature2 .btn:nth-child(2){
    padding: 15px 40px 15px 40px;
    background-color: #1bbc9d;
    border-bottom: 4px solid #1f937d;
    color: #fff;
}
/* End of Feature2*/

/*Start Feature3*/
.feature3{
    color: #fff;
}
.feature3 .content ul{
    list-style: none;
}
.feature3 .content ul li{
    background-color: #313338;
    border: 1px solid #313338;
    margin-right: 10px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}

.feature3 ul li:hover{
    background-color: #1bbc9d;
    border: 1px solid #1bbc9d;
    margin-right: 10px;
}

.feature3 .content ul li a{
    color: #fff;
    text-decoration: none;
}
.feature3  .boxes ul{
    list-style: none;
    flex-flow: row wrap;
}
.feature3 .boxes ul li{
    width: 224px;
    height: 224px;
    background-color: #313337;
    margin-right: 10px;
    margin-bottom: 10px;
}
.feature3 .boxes .box{
    width: 170px;
    height: 170px;
    background-color: #000;
    color: #fff;
}
.feature3 .blackbox{
    padding: 25px;
}
.feature3 .arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #aaca29;
}
.feature4{
    background-color: #4b3f34;
    height: 430px;
    color: #ffffff;
}
.feature4 .col-lg-12{
    top: 90%
}
.feature4 p{
    font-size: 40px;

}
.feature4 .title{
    font-size: 60px;
}
.feature5 .content, .content2{
    flex-flow: row wrap;
}

.feature5 ul{
    list-style: none;
    background-color: #313337;
    border: 1px solid #313337;
    border-radius: 5px;
    color: #b6b6b6;
    padding: 0px;
    margin-right: 20px;
    width: 260px;
    cursor: pointer;
}
.feature5 h2{
    color: #fff;
}
.feature5 ul:nth-child(2){
    background-color: #fff;
}
.feature5 ul li{
    padding-bottom: 10px;
}
.feature5 ul li:nth-child(7){
    padding-bottom: 30px;
}
.feature5 ul li:last-child{
    padding-bottom: 30px;
}
.feature5 ul .titlebox{
    padding: 20px 0px 20px 0px;
}
.feature5 ul .pricebox{
    background-color: #1bbc9d;
    border-bottom: 4px solid #17987f;
    color: #ffffff;
    margin-bottom: 30px;
    padding-top: 10px;

}
.feature5 ul li .boldtext{
    font-weight: bold;
}
.feature5 ul li button{
    background-color: #b0cd3b;
    border-bottom: 4px solid #798f21;
    color: #fff;
    padding: 10px 30px 10px 30px;
}
.feature5 .content2 ul{
    width: 190px;
}
.feature5 .content2 ul{
   background-color: #fff;
}
.feature5 .content2 ul:first-child .pricebox{
   background-color: #424242;
   border-bottom: 4px solid #2d2d2d;

}
.feature5 .content2 ul:first-child button{
   background-color: #e4e4e4;
   border-bottom: 4px solid #c1c1c1;

}
.feature5 .content2 ul:nth-child(2) .pricebox{
   background-color: #74b0a4;
   border-bottom: 4px solid #55857b;
}
.feature5 .content2 ul:nth-child(2) button{
    background-color: #74b0a4;
    border-bottom: 4px solid #55857b;
}
.feature5 .content2 ul:nth-child(3) .pricebox{
   background-color: #b6c380;
   border-bottom: 4px solid #8e9865;
}
.feature5 .content2 ul:nth-child(3) button{
    background-color: #b6c380;
    border-bottom: 4px solid #8e9865;
}
.feature5 .content2 ul:nth-child(4) .pricebox{
    background-color: #e4e4e4;
    border-bottom: 4px solid #c1c1c1;
}
.feature5 .content2 ul:nth-child(4) button{
    background-color: #424242;
    border-bottom: 4px solid #2d2d2d;
}
@media (max-width: 991.98px) {
    .navbar ul li:last-child{
        margin-right: 2rem !important;
    }

}
@media (max-width: 768px) {
    .carousel-caption{
        display: none !important;
    }
    .feature2 .col-lg-12{
        top: 30%;
        text-align: center;
    }
}


@media (max-width: 575.98px) {
    .navbar ul li:last-child{
        margin-right: 2rem !important;
    }
    .feature2 .col-lg-12, .feature4 .col-lg-12{
        top: 10%
    }

}

