body {
    background-color: #282a2e;
}

.titleFeature {
    text-transform: capitalize;
    font-size: 36px;
}

.container-fluid {
    background-color: #282a2e;
    padding: 0px;
}

.fontRobotoLight {
    font-family: "Roboto Light", sans-serif;
    font-weight: 200;
}

.fontRobotoMedium {
    font-family: "Roboto Medium", sans-serif;
}

.navbar {
    background-color: #282a2e !important;
}

.navbar ul li .nav-link {
    font-family: "Roboto, Regular", sans-serif;
    color: #fff !important;
    font-size: 16px;
}

.navbar ul li:nth-child(3) .nav-link {
    color: #97c248 !important;
}

.navbar ul li .nav-link:hover {
    color: #97c248 !important;
}

.navbar-nav .nav-link {
    padding-right: 2rem !important;
}

/* Start of Navbar hamburger animation*/

.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler:focus {
    outline: none;
    background: transparent !important;
}

.navbar-toggler .icon-bar {
    background-color: #fff;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
}

.icon-bar:nth-child(2) {
    width: 16px;
    transition: ease all .2s;
}

.navbar-toggler:hover>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
}

.navbar-toggler:active>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: ease all .2s;
}

/*End of Navbar hamburger animation*/

/*Carousel Caption*/

.carousel-caption {
    max-width: 1000px;
    position: absolute;
    /* bottom: 20px; */
    top: 50% !important;
    left: 15% !important;
    z-index: 10;
    padding: 0px;
    bottom: 0px !important;
    color: #fff;
    text-align: left;
    transform: translate(0%, -50%) !important;
    /* text-align: center; */
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
}

.carousel-caption h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.carousel-caption p {
    font-size: 40px;
    line-height: 1;
    letter-spacing: 3px;
    margin: 0;
}

input {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type=search] {
    background: #282a2e url('../img/icon.png') no-repeat 9px center;
    padding: 1px 2px 0px 25px;
    width: 55px;
    color: #fff;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 130px;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

/* Search */

#demo-2 input[type=search] {
    content: '\f002';
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}

#demo-2 input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #fff;
    cursor: auto;
}

#demo input:-moz-placeholder {
    color: transparent;
}

#demo input::-webkit-input-placeholder {
    color: transparent;
}

/*Seatch*/

/*Start Feature1*/

.feature1 {
    padding: 55px 0 65px 0;
    color: #fff;
}

.feature1 .col-lg {
    padding: 0 30px 0 30px;
}

.feature1 .title {
    font-size: 36px;
    padding-bottom: 50px;
    margin: 0;
}

.feature1 img {
    padding-bottom: 20px;
}

.feature1 h3 {
    font-size: 24px;
}

.feature1 p {
    font-family: "Arial Regular", sans-serif;
    font-size: 13px;
    color: #8e8e90;
}

/*Start Feature2*/

.feature2 {
    height: 430px;
    background-color: #4b3f34;
}

.feature2 h2 {
    color: #fff;
    font-size: 60px;
    letter-spacing: 4px;
    margin-bottom: 25px;
}

.feature2 .col-lg-12 {
    top: 90%;
}

.feature2 .btn {
    letter-spacing: 1px;
    font-size: 18px;
}

.feature2 .btn:nth-child(1) {
    margin-right: 10px;
    background-color: #b0cd3b;
    width: 131px;
    height: 46px;
    color: #fff;
}

.feature2 .btn:nth-child(1):hover {
    border-bottom: 4px solid #798f21;
}

.feature2 .btn:nth-child(2) {
    width: 131px;
    height: 46px;
    background-color: #1bbc9d;
    color: #fff;
}

.feature2 .btn:nth-child(2):hover {
    border-bottom: 4px solid #1f937d;
}

/*Start Feature3*/

.feature3 {
    padding: 65px 0 50px 0;
    color: #fff;
}

.feature3 h2 {
    margin-bottom: 20px;
}

.feature3 .buttons {
    padding-bottom: 45px;
}

.feature3 h4 {
    font-size: 16px;
}

.feature3 .boxes {
    padding-bottom: 50px;
}

/* content mansory grid*/

.grid {
    /* center */
    margin: 0 auto;
}

/* clearfix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    width: 238px;
    height: 238px;
    float: left;
}

.grid-item .box {
    background-color: #313337;
    width: 224px;
    height: 224px;
}

.grid-item .box:nth-child(7) {
    position: relative;
}

.box .blackbox {
    position: absolute;
    top: 47%;
    left: 47%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 170px;
    background-color: #000;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.box .blackbox ul {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
}

.box .blackbox ul li:nth-child(1) p {
    font-family: "Roboto Medium", sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.box .blackbox ul li:nth-child(2) p {
    font-family: "Roboto Light", sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
}

/* ---- grid-item ---- */

.feature3 .content .buttons {
    cursor: pointer;
}

.feature3 .content .buttons {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.feature3 .content .buttons li {
    display: inline-block;
    background-color: #313337;
    width: 104px;
    height: 34px;
}

.buttons li:not(:last-child) {
    margin-right: 6px;
}

.feature3 .content .buttons .active {
    background-color: #1bbc9d;
}

.buttons li a {
    display: block;
    text-decoration: none;
    line-height: 32px;
    color: #fff;
    font-family: "Roboto Light", sans-serif;
    font-size: 14px;
}

.feature3 .content .buttons li:hover {
    background-color: #1bbc9d;
}

.feature3 .content .grid .grid-item a {
    display: block;
    padding-top: 7px;
    color: #fff;
    text-decoration: none;
}

/*end button*/

.arrow,
.arrow:before {
    position: absolute;
    left: 50%;
}

.arrow {
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    -webkit-transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #aaca29 solid;
    border-bottom: 2px #aaca29 solid;
}

.arrow:before {
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #aaca29 solid;
    border-bottom: 1px #aaca29 solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

@keyframes arrow {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }
}

.feature4,
.feature6,
.feature8,
.feature10 {
    background-color: #4b3f34;
    height: 430px;
    color: #ffffff;
}

.feature4 p,
.feature6 p,
.feature8 p {
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 1;
    margin: 0;
}

.feature4 .title,
.feature6 .title,
.feature8 .title,
.feature10 .title {
    font-size: 60px;
    letter-spacing: 2px;
    line-height: 1;
    margin-bottom: 0;
}

.feature5 .content,
.content2 {
    flex-flow: row wrap;
    margin-bottom: 70px;
}

.feature5 ul {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    list-style: none;
    background-color: #313337;
    border: 1px solid #313337;
    border-radius: 5px;
    color: #b6b6b6;
    padding: 0px;
    width: 264px;
    cursor: pointer;
    margin-bottom: 10px;
}

.feature5 h2 {
    color: #fff;
    margin: 45px 0 50px 0;
    font-size: 36px;
    line-height: 1;
}

.feature5 ul:nth-child(2) {
    background-color: #fff;
}

.feature5 ul li {
    padding-bottom: 22px;
    line-height: 1;
}

.feature5 ul li:nth-child(7) {
    padding-bottom: 50px;
}

.feature5 ul li:last-child {
    padding-bottom: 14px;
}

.feature5 .titlebox {
    height: 84px;
    font-family: "Open Sans Light", sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    color: #c0c0c1;
}

.feature5 ul:nth-child(2) .titlebox {
    color: #5c5c5c !important;
}

.feature5 ul .pricebox {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    background-color: #1bbc9d;
    border-bottom: 4px solid #17987f;
    color: #ffffff;
    height: 47px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-bottom: 40px;
}

.feature5 ul li .boldtext {
    font-weight: bold;
    color: #5c5c5c;
}

.feature5 ul li .boldtext2 {
    color: #b6b6b6;
    font-weight: bold;
}

.feature5 ul li button {
    background-color: #b0cd3b;
    color: #fff;
    width: 131px;
    height: 46px;
}

.feature5 ul li button:hover {
    border-bottom: 4px solid #798f21;
}

.feature5 .content2 ul {
    width: 200px;
}

.feature5 .content2 ul {
    background-color: #fff;
}

.feature5 .content2 ul:first-child .pricebox {
    background-color: #424242;
    border-bottom: 4px solid #2d2d2d;
}

.feature5 .content2 ul:first-child button {
    background-color: #e4e4e4;
    color: #000;
}

.feature5 .content2 ul:first-child button:hover {
    border-bottom: 4px solid #c1c1c1;
}

.feature5 .content2 ul:nth-child(2) .pricebox {
    background-color: #74b0a4;
    border-bottom: 4px solid #55857b;
}

.feature5 .content2 ul:nth-child(2) button {
    background-color: #74b0a4;
}

.feature5 .content2 ul:nth-child(2) button:hover {
    border-bottom: 4px solid #55857b;
}

.feature5 .content2 ul:nth-child(3) .pricebox {
    background-color: #b6c380;
    border-bottom: 4px solid #8e9865;
}

.feature5 .content2 ul:nth-child(3) button {
    background-color: #b6c380;
}

.feature5 .content2 ul:nth-child(3) button:hover {
    border-bottom: 4px solid #8e9865;
}

.feature5 .content2 ul:nth-child(4) .pricebox {
    background-color: #e4e4e4;
    border-bottom: 4px solid #c1c1c1;
    color: #74b0a4;
}

.feature5 .content2 ul:nth-child(4) button {
    background-color: #424242;
}

.feature5 .content2 ul:nth-child(4) button:hover {
    border-bottom: 4px solid #2d2d2d;
}

.feature5 .comment {
    color: #696969;
    overflow: hidden;
}

.feature5 .comment .title {
    color: #fff;
    font-size: 25px;
}

.feature5 .comment a {
    text-decoration: none;
    color: #b0cd3b;
}

.feature5 .comment .quote {
    padding: 0 50px 0 50px;
    font-family: "Arial Regular", sans-serif;
    font-size: 100px;
}

.feature5 .comment .content {
    width: 400px;
    text-align: center;
}

.feature5 .content a {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

.subtitle {
    font-family: "Roboto Medium", sans-serif;
    font-size: 18px;
    margin-bottom: 50px;
    color: #fff;
}

.subtitle span {
    display: inline-block;
    position: relative;
}

.subtitle span:before,
.subtitle span:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #424242;
    top: 50%;
    width: 350px;
}

.subtitle span:before {
    right: 100%;
    margin-right: 50px;
}

.subtitle span:after {
    left: 100%;
    margin-left: 50px;
}

/*Feature7*/

.feature7 {
    margin-bottom: 80px;
}

.feature7 ul {
    list-style: none;
    color: #fff;
    padding-left: 0px;
}

.feature7 ul img {
    margin-bottom: 30px;
}

.feature7 ul h3 {
    font-family: "Roboto Medium", sans-serif;
    font-size: 20px;
}

.feature7 ul li:nth-child(1) {
    margin-bottom: 10px;
}

.feature7 ul li:nth-child(3) {
    font-family: "Roboto Light", sans-serif;
    font-size: 16px;
}

.feature7 ul li:nth-child(4) {
    font-family: "Arial", sans-serif;
    font-size: 13px;
    color: #acacac;
}

.feature7 h2 {
    margin: 60px 0 60px 0;
    color: #fff;
}

.contTeam {
    margin-bottom: 100px;
}

/*Feature7*/

.ourskills {
    overflow: hidden;
    margin-bottom: 60px;
}

.ourskills span {
    display: inline-block;
    position: relative;
    font-size: 25px;
}

.ourskills span:before,
.ourskills span:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #424242;
    top: 50%;
    width: 350px;
}

.ourskills span:before {
    right: 100%;
    margin-right: 15px;
}

.ourskills span:after {
    left: 100%;
    margin-left: 15px;
}

/* CHART-SKILLS STYLES */

.chart-skills {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    position: relative;
    width: 160px;
    height: 80px;
    overflow: hidden;
}

.chart-skills *,
.chart-skills::before {
    box-sizing: border-box;
}

.skillsTitle {
    margin: 20px 0 0 0;
    color: #fff;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "Roboto Medium", sans-serif;
}

.chart-skills::before,
.chart-skills::after {
    position: absolute;
}

.chart-skills::before {
    content: '';
    width: inherit;
    height: inherit;
    border: 30px solid rgba(211, 211, 211, .3);
    border-bottom: none;
    border-top-left-radius: 175px;
    border-top-right-radius: 175px;
}

.chart-skills::after {
    content: '';
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #fff;
    line-height: 1;
}

.webdesign .chart-skills::after {
    content: '35%';
}

.creative .chart-skills::after {
    content: '85%';
}

.ui-design .chart-skills::after {
    content: '95%';
}

.prototypes .chart-skills::after {
    content: '25%';
}

.photography .chart-skills::after {
    content: '50%';
}

.chart-skills div {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: inherit;
    border: 30px solid;
    border-top: none;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    transform-origin: 50% 0;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-timing-function: linear;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.chart-skills div {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1bbc9d+0,aaca29+100 */
    border-color: rgba(27, 188, 157, 1);
}

.webdesign .chart-skills div {
    z-index: 4;
    animation-name: rotate-one;
}

.creative .chart-skills div {
    z-index: 4;
    animation-name: rotate-two;
}

.ui-design .chart-skills div {
    z-index: 4;
    animation-name: rotate-three;
}

.prototypes .chart-skills div {
    z-index: 4;
    animation-name: rotate-four;
}

.photography .chart-skills div {
    z-index: 4;
    animation-name: rotate-five;
}

/* End charts*/

@keyframes rotate-one {
    100% {
        transform: rotate(60.6deg);
        /**
       * 12% => 21.6deg
       */
    }
}

@keyframes rotate-two {
    100% {
        transform: rotate(140.2deg);
    }
}

@keyframes rotate-three {
    100% {
        transform: rotate(160.4deg);
    }
}

@keyframes rotate-four {
    100% {
        transform: rotate(35deg);
    }
}

@keyframes rotate-five {
    100% {
        transform: rotate(90deg);
    }
}

.feature8 p {
    font-size: 50px;
    line-height: 1;
}

/*Start Feature9 */

.col-lg-8,
.col-lg-4 {
    padding: 0 20px 0 20px;
}

address p,
.btn {
    font-family: "Roboto Medium", sans-serif;
}

address p {
    line-height: normal;
    font-size: 16px;
    color: #989898;
    font-weight: bold;
    margin-bottom: 13px;
}

address p:nth-child(3) {
    margin-bottom: 30px;
}

.feature9 {
    padding-top: 65px;
    color: #fff;
    padding-bottom: 100px;
}

.feature9 h2 {
    margin-bottom: 75px;
}

.form-control {
    border: 0px;
    border-radius: 0px;
    background-color: #222327;
    font-family: "Arial Regular", sans-serif;
    font-size: 14px;
    height: 34px;
}

.inputs .form-control:nth-child(1) {
    margin-right: 20px;
}

.feature9 .btn {
    margin-top: 20px;
    border-radius: 0px !important;
    width: 104px;
    height: 34px;
    font-size: 14px;
    background-color: #1bbc9d;
    color: #fff;
}

.btnPurchaise {
    margin-top: 4px !important;
    width: 104px;
    height: 34px;
}

.feature9 .btn:hover {
    border-bottom: 3px solid #1f937d;
}

.textarea .form-control {
    height: 140px !important;
}

.mail,
.moreInfo {
    position: relative;
    margin-bottom: 30px;
}

.feature9 .mail:after,
.feature9 .moreInfo:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #424242;
    margin-top: -5px;
    left: 0%;
    width: 100%;
    margin-bottom: 20px;
}

.feature9 .moreInfo {
    width: 200px;
}

.mail>p,
.moreInfo>p {
    font-family: "Roboto Bold", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/*End Feature9*/

.feature10 .title {
    font-size: 50px;
    line-height: normal;
}

.feature10 p {
    line-height: normal;
    font-size: 50px;
    text-transform: capitalize;
    letter-spacing: 3px;
}

.feature10 .icons a {
    height: 36px;
    width: 36px;
    background-color: #282a2e;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 2px;
}

.feature10 .icons a:after {
    cursor: pointer;
    font-family: "Font Awesome 5 Brands";
    font-weight: 600;
    position: absolute;
    color: #4b3f34;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icons a {
    display: block;
}

.icons a:not(:last-child) {
    margin-right: 27px;
}

.icons .github:after {
    content: '\f113';
}

.icons .flickr:after {
    content: '\f16e';
}

.icons .vimeo:after {
    content: '\f27d';
}

.icons .twitter:after {
    content: '\f099';
}

.icons .facebook:after {
    content: '\f39e';
}

.icons .google:after {
    content: '\f0d5';
}

.icons .pinterest:after {
    content: '\f231';
}

.icons .tumblr:after {
    content: '\f173';
}

.feature10 .icons a:hover:after {
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #b0cd3b;
    color: #282a2e;
    line-height: 30px;
}

.feature11 h4 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 47px;
}

.feature11 h4:after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #424242;
    bottom: -17px;
    left: 0%;
    width: 100%;
}

.feature11 .tweets,
.feature11 .posts,
.feature11 .photoStream {
    max-width: 275px;
}

.feature11 ul p {
    font-family: "Arial Regular", sans-serif;
    font-size: 13px;
    margin: 0;
}

.feature11 ul li {
    margin-bottom: 20px;
}

.feature11 ul span {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.feature11 ul li a {
    text-decoration: underline;
    color: #1bbc9d;
}

.feature11 ul i {
    color: #b0cd3b;
}

.feature11 ul {
    list-style: none;
    padding-left: 0;
    color: #747474;
}

.feature11 .photoes div {
    margin: 0 8px 8px 0;
}

.feature11>div {
    padding: 70px 20px;
}

.footer {
    background-color: #222327;
    height: 130px;
}

.footer .contacts {
    color: #7f7f80;
    list-style: none;
    margin-bottom: 0px;
    font-family: "Roboto Medium", sans-serif;
    font-size: 16px;
    padding: 0;
}

.contacts li:not(:last-child) {
    margin-right: 30px;
}

@media (max-width: 992px) {
    .feature1 .col-lg {
        padding-bottom: 30px;
    }
    .navbar ul li:last-child {
        margin-right: 2rem !important;
    }
    .feature5 .comment .quote {
        padding: 0 20px 0 20px;
        font-size: 50px;
    }
    .feature9 .col-lg-8 {
        padding-bottom: 20px;
    }
    .carousel-caption h1 {
        font-size: 40px;
    }
    .carousel-caption p {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .feature2 .col-lg-12 {
        top: 10%;
        text-align: center;
    }
    .feature2,
    .feature4,
    .feature6,
    .feature8 {
        text-align: center;
    }
    .carousel-caption h1 {
        font-size: 40px;
    }
    .carousel-caption p {
        font-size: 25px;
    }
}

@media (max-width: 575.98px) {
    .navbar ul li:last-child {
        margin-right: 2rem !important;
    }
    .content .grid {
        /* center */
        margin: 0 auto;
        left: 6%;
    }
    .feature2 .btn:nth-child(1) {
        margin-right: 0;
    }
    .feature3 .content ul {
        flex-flow: wrap;
    }
    .feature3 .content ul li:nth-child(1),
    .feature3 .content ul li:nth-child(2) {
        margin-bottom: 5px;
    }
    .feature5 .comment .quote {
        font-size: 40px;
    }
    .carousel-caption {
        max-width: 200px;
    }
    .carousel-caption h1 {
        font-size: 25px;
    }
    .carousel-caption p {
        font-size: 15px;
    }
}